* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: "Signika Negative", sans-serif;
    background-image: url("/src/images/background1.jpg");
    background-size: cover;
    /* overflow: hidden; */
}
.header {
    color: #f5f5f5;
    height: 20vh;
    /* width: 99vw; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
    background-color: rgba(0, 0, 0, 0.691);
    backdrop-filter: blur(5px);
    z-index: 99;
}
.header-right {
    display: flex;
    align-items: center;
}

.coming-soon-text {
    font-family: "Playwrite CU", cursive;
    font-style: italic;
}
.moto-gif {
    width: 100px;
    position: absolute;
    animation: moveRight 5s linear infinite;
}
@keyframes moveRight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}
.landing {
    color: #f5f5f5;
    /* width: 100vw; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.691);
    backdrop-filter: blur(5px);
}
.landing-text {
    width: 60vw;
}
.landing-text > h1 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 2px;
}
.register-button {
    height: 100px;
    width: 100px;
    border: 10px solid grey;
    border-radius: 50%;
    background-color: rgb(201, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.register-button:active {
    background-color: rgb(129, 12, 12);
    /* transition: 0.2s; */
}
.form-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.691);
    backdrop-filter: blur(5px);
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 10px;
}
.form > input {
    height: 30px;
    background-color: #f5f5f5ac;
    color: #f5f5f5;
}

.footer {
    background: url("../src/images/footerBg.png");
    background-color: rgba(0, 0, 0, 0.691);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 60vh;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials {
    padding-top: 30vh;
    display: flex;
    gap: 10px;
}
