@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* Background color of the track */
  border-radius: 10px; /* Round the corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part of the scrollbar */
  border-radius: 10px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Options are auto, thin, or none */
  scrollbar-color: #888 #f5f5f5; /* First color is the thumb, second is the track */
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  background-image: url("/src/images/background1.jpg");
  background-size: cover;
  /* overflow: hidden; */
  overflow-x: hidden;
}
.header {
  color: #f5f5f5;
  height: 26vh;
  padding-top: 10vh;
  padding-bottom: 25vh;

  /* width: 99vw; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: fixed; */
  background-color: rgba(0, 0, 0, 0.691);
  backdrop-filter: blur(5px);
  z-index: 99;
  overflow: hidden;
}
.header-right {
  display: flex;
  /* gap: 130px; */
  padding-top: 5vh;
  align-items: center;
  position: absolute;
  top:70px;
  z-index: 99;
  animation: moveRight 10s linear infinite;
}

.coming-soon-text {
  font-family: "Playwrite CU", cursive;
  font-style: italic;
  width: 150px;
  
  
  z-index: 99;
}
.moto-gif {
  width: 100px;
  /* position: absolute; */
  /* animation: moveRight 5s linear infinite; */
  z-index: 99;
}
@keyframes moveRight {
  0% {
    left: -250px;
  }
  100% {
    left: 100%;
  }
}
.landing {
  color: #f5f5f5;
  /* width: 100vw; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  padding-top: 0 ;
  background-color: rgba(0, 0, 0, 0.691);
  backdrop-filter: blur(5px);
}
.landing-text {
  width: 60vw;
}
.landing-text > h1 {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 12px; */
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 1px;
  /* font-family: "Fira Mono", monospace; */
}

/* Glitch Effect */
.glitch-riding {
  /* animation: glitch-riding 1s linear infinite; */
  font-weight: 900;
}

/*  */

/* Glitch Effect */
.glitch-moto {
  /* animation: glitch-moto 1s linear infinite; */
  font-weight: 1200;
  color: #ed1c24;
}

/*  */

/* From Uiverse.io by Gautammsharma */
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  padding: 10px 20px;
  /* font-size: 24px; */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ed1c24;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.register-button:hover {
  background-color: #ce1c22;
  /* color: #ff5252; */
  /* border: 5px solid grey; */
  box-shadow: 5px 5px 0px black;
  letter-spacing: 1px;
}

.register-button:active {
  background-color: rgb(129, 12, 12);
  box-shadow: none;
  transform: translateY(4px);
}

.form-component {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #f5f5f5;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.691);
  backdrop-filter: blur(5px);
}
.form {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 70vw;
  gap: 10px;
}
.form > input {
  height: 60px;
  width: 50%;
  background-color: #f5f5f5ac;
  color: rgb(31, 31, 31);
  border: 0px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
}
.form > input:focus {
  background-color: #f5f5f5d2;
}
.form > button {
  height: 50px;
  width: 25%;
  border-radius: 10px;
  background-color: #ed1c24;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0px;
}

.submit-button:hover {
  background-color: #ce1c22;
  letter-spacing: 1px;
  border: 0px;
}
.form-text {
  width: 70vw;
}






.footer {
  background: url("../src/images/footerBg.png");
  background-color: rgba(0, 0, 0, 0.691);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socials {
  padding-top: 30vh;
  display: flex;
  gap: 10px;
}

/*  */
/*  */
/* Responsive Styles */

@media (max-width: 1200px) {
  .header {
    overflow-x: hidden;
    padding: 0;
    height: 20vh;
  }


  .header-right{
    /* padding-top: 1vh; */
  }
  .landing {
    height: auto;
    padding: 20px;
  }

  .landing-text {
    width: 80vw;
  }
  .landing-text > h1 {
    font-size: 5vw;
  }
  .register-button {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 992px) {
  .header {
    /* flex-direction: column; */
    /* height: 10vh; */
    padding-top: 5vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
  }
  .landing {
    height: auto;
    padding: 20px;
  }
  .landing-text > h1 {
    font-size: 6vw;
  }
  .register-button {
    height: 160px;
    width: 160px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-component {
    height: auto;
    padding: 20px;
  }
  .form > input {
    width: 90%;
  }
  .form > button {
    width: 90%;
  }
  .footer {
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    overflow-x: hidden;
    padding-bottom: 20vh;
  }
  .landing-text {
    width: 90vw;
  }
  .landing-text > h1 {
    font-size: 7vw;
  }
  .register-button {
    height: 160px;
    width: 160px;
  }
  .form > input {
    width: 100%;
  }
  .form > button {
    width: 100%;
  }
  .footer {
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .header {
    overflow-x: hidden;
    padding-bottom: 20vh;
  }

  .header-right{
    padding-top: 0;
  }
  .landing-text > h1 {
    font-size: 8vw;
  }
  .register-button {
    height: 100px;
    width: 100px;
  }
  .form > input {
    font-size: 18px;
  }
  .form > button {
    font-size: 24px;
  }
}
